.formCard{
    display: flex;
    flex-direction: column;
    color: var(--clr-neutral-dark-slate-grey);
    background-color: var(--clr-neutral-white);
}
.formCard-Picture img{
    width: 100%;
}
.formCard-Content{
    padding: 2rem;
}
.formCard-title{
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 2.25rem;
}
.formCard-text{
    line-height: 1.5;
    margin-bottom: 1rem;
}
.formCard-listElement{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem auto;
}
.formCard-form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 2rem auto 1rem;
}
.formCard-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .75rem;
    font-weight: var(--fw-bold);
}
.formCard-errorMsg{
    color: var(--clr-primary-tomato);
}
.formCard-input{
    max-width: 450px;
    height: 50px;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--clr-neutral-grey);
}
.formCard-input::placeholder{
    color: var(--clr-neutral-grey);
}
.formCard-input:focus{
    outline: none;
    border: 1px solid black;
}
.formCard-input:hover{
    cursor: pointer;
}
.error{
    border: 1px solid var(--clr-primary-tomato);
    background-color: hsl(5, 100%, 95%);
    color: var(--clr-primary-tomato);
}
.formCard-button{
    max-width: 450px;
    margin-top: 1rem;
    padding: 1rem .25rem;
    border-radius: 7px;
    font-size: .925rem;
    color: var(--clr-neutral-white);
    background-color: var(--clr-neutral-dark-slate-grey);
}
.formCard-button:hover{
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 83, 121), rgb(255, 105, 63));
}
.formCard-Submitted{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    color: var(--clr-neutral-dark-slate-grey);
    background-color: var(--clr-neutral-white);
}
.formCard-submittedContent{
    margin: 5rem auto 2rem;
}
.formCard-successIcon{
    width: 50px;
    height: 50px;
    margin-bottom: 2rem;
}
.formCard-submittedTitle{
    font-size: 2.25rem;
}
.formCard-submittedText{
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 1rem;
}
.formCard-textEmail{
    font-weight: var(--fw-bold);
}
.formCard-dismissButton{
    width: 100%;
    max-width: 400px;
    padding: 1rem .25rem;
    margin: auto;
    border-radius: 7px;
    font-size: .925rem;
    color: var(--clr-neutral-white);
    background-color: var(--clr-neutral-dark-slate-grey);
}
.formCard-dismissButton:hover{
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 83, 121), rgb(255, 105, 63));
}

@media (min-width: 768px){
    .formCard{
        flex-direction: row-reverse;
        border-radius: 25px;
    }
    .formCard-Picture{
        padding: 1rem;
    }
    .formCard-Picture img{
        height: 100%;
        object-fit: cover;
        object-position: 100%;
        border-radius: 1rem;
    }
    .formCard-Content{
        max-width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
    }
    .formCard-title{
        font-size: 3rem;
        margin-top: 0;
    }
    .formCard-Submitted{
        justify-content: center;
        max-width: 400px;
        height: 400px;
        border-radius: 1rem;
    }
    .formCard-submittedContent{
        margin: 0;
        padding: 0;
    }
    .formCard-dismissButton{
        margin-top: 2rem;
    }
}